[submodule "content"]
	path = content
	url = https://github.com/minyeamer/minyeamer.github.io.git
	branch = content
[submodule "public"]
	path = public
	url = https://github.com/minyeamer/minyeamer.github.io.git
	branch = source
[submodule "themes/seotax"]
	path = themes/seotax
	url = https://github.com/minyeamer/hugo-seotax
